<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annatar</title>
</head>
<body style="background-color: gray;">
    <h1>Annatar</h1>
    <img src="{{ url_for('stream') }}" width="640" height="480" alt="Live Stream">

    
    <h2>CPU Temp: <span id="cpu_temp">Loading...</span></h2>
    <h2>CPU Usage: <span id="cpu_usage">Loading...</span></h2>
    <h2>RAM Usage: <span id="ram_usage">Loading...</span></h2>
    <h2>Disk Usage: <span id="disk_usage">Loading...</span></h2>

    <script defer src="{{ url_for('static', filename='dashboard.js') }}"></script>

    <!-- <script>

document.addEventListener("DOMContentLoaded", function() {
    const cpu_temp = document.getElementById("cpu_temp");
    const cpu_usage = document.getElementById("cpu_usage");
    const ram_usage = document.getElementById("ram_usage");
    const disk_usage = document.getElementById("disk_usage");

    cpu_temp.style.color = "red"

    

    function connectEventSource() {
        const eventSource = new EventSource("/stats");

        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data); // Parse JSON string into an object

            console.log(typeof(parseInt(data.cpu_temp)))
            
            cpu_temp.innerText = `${data.cpu_temp} °C`; 
            cpu_usage.innerText = `${data.cpu_usage}% `; 
            ram_usage.innerText = `${data.ram_usage} MB / ${data.ram_total} MB`; 
            disk_usage.innerText = `${data.disk_usage} GB / ${data.disk_total} GB`; 
        };


        eventSource.onerror = function() {
            console.error("Connection lost. Attempting to reconnect...");
            eventSource.close();

            // Retry connection after 3 seconds
            setTimeout(connectEventSource, 1000);
        };
    }

    connectEventSource(); // Initialize SSE connection
});

    </script> -->
</body>
</html>
